button{
    cursor: pointer;
    background-color: #4CAF50;
    padding: 15px 32px;
    border-radius: 25px;
    font-size: 16px;
}
button:hover{
    background-color: green;
}

.center{
    position: fixed;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
  }